<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sélectionner un étudiant</title>
</head>
<body>
    <h1>Sélectionner votre compte</h1>
    <h2>Étudiants</h2>
    <ul>
        {% for student in students %}
            <li>
                <a href="{% url 'manage_student' student.id %}">{{ student.nom }} {{ student.prenom }}</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Enseignants</h2>
    <ul>
        {% for prof in profs %}
            <li>
                <a>{{ prof.prenom }}{{ prof.nom }} </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'update' %}">Ajouter un étudiant</a>
</body>
</html>
